



body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #3498db;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}


.container {
    max-width: 900px;
    width: 100%;
    background-color: rgba(80, 37, 37, 0.9); 
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


h1, h2 {
    margin: 0 0 20px 0;
    font-family: 'Verdana', sans-serif;
}

h1 {
    color: #2c3e50;
    font-size: 2.5rem;
}

h2 {
    color: #3498db;
    font-size: 1.8rem;
}


table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

td, th {
    border: 1px solid #000000;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #1d1313;
}

tr:nth-child(odd) {
    background-color: #050303;
}


a {
    text-decoration: none;
    color: inherit; 
}

img {
    display: inline-block;
    margin: 0 auto;
}
